body {
  background-color: #1B2223;
  color: #F4FEFD;
}
.resume-container {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 20px;
  align-items: center;
}
.aside-container {
  background-color: #3A4F50;
  padding: 5px;
  width: 300px;
}
.avatar {
  width: 300px;
}
.main-container {
  width: 100%;

}

@media screen and (min-width: 600px) {
  .resume-container {
    flex-direction: row;
    padding: 0 10px;
    align-items: normal;
  }
}

@media screen and (min-width: 992px) {
  .resume-container {
    padding: 0 10%;
  }
}
