.resume-container {
    #background-color: #3A4F50;
    background-color: #1B2223;
    color: #F4FEFD;
    display: flex;
    flex-direction: row;
    padding: 0 200px;
}
.aside-container {
    #background-color: #1B2223;
    background-color: #3A4F50;
    padding: 5px;
    width: 300px;
}
.main-container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    gap: 10px;
    width: 100%;
}
.avatar {
    width: 300px;
}
.main-container div {
    padding: 10px;
}
